@import url(./common.css);
@import url(./reset.css);
@import url(./fonts.css);

/* ν—¤λ” */
.header{
    position: absolute;
    top: 50px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 100;
    width: 100%;
    padding: 0 50px;
    font-size: 14px;
}
.header-inner{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.header .group-left{
    display: flex;
    align-items: center;
    background: #000;
    color: #fff;
    border-radius: 16px;
}
.header .logo{
    width: 60px;
    height: 60px;
}
.header .logo a{
    display: block;
}
.header .group-left .nav-list{
    display: flex;
    gap: 30px;
    padding: 16px 30px;
}
.header .nav-list .nav-item:hover{
    color: #e50914;
}
.header .group-right{
    display: flex;
    align-items: center;
    padding: 16px 30px;
    background: #000;
    border-radius: 16px;
    text-transform: uppercase;
    overflow: hidden;
    position: relative;
}
.header .group-right .group-right-bg{
    background: #e50914;
    position: absolute;
    left: 0;
    top: auto;
    right: 0;
    bottom: 0;
    z-index: 0;
    width: 100%;
    height: 0%;
    transition: all 0.6s;   
}
.header .group-right:hover .group-right-bg{
    height: 100%;
}
.header .group-right .link-nav{
    display: flex;
    position: relative;
    align-items: center;
    overflow: hidden;
    z-index: 1;
}
.header .link-nav span{
    transition: 0.3s;
    color: #fff;
}
.header .group-right .back{
    position: absolute;
    transform: translateY(100%);
}

/* ν‘Έν„° */
.footer{
    padding: 1.25em;
}
.footer-inner.page-inner{
    border: 1px solid #494949;
    border-radius: 1.25em;
}
.footer .group-top{
    text-align: center;
}
.footer .group-top .logo{
    font-size: 18px;
    line-height: 1.2;
    margin-bottom: 50px;
}
.footer .group-top .text{
    font-size: 100px;
    line-height: .95;
    font-family: Regarn,sans-serif;
}
.footer .group-top .util-list{
    display: flex;
    gap: 24px;
    justify-content: center;
    margin-top: 30px;
}
.footer .util-list .util-item{
    width: 80px;
    height: 80px;
    border: 1px solid #666;
    position: relative;
    z-index: 1;
    border-radius: 0.375em;
    display: flex;
    align-items: center;
    justify-content: center;
}
.footer .util-list .util-item a{
    display: block;
}
.footer .util-item svg{
    height: 2.5em;
    position: relative;
    z-index: 2;
    transition: 0.3s;
}
.footer .util-item .item-bg{
    background: var(--c-red);
    position: absolute;
    left: 0;
    top: auto;
    right: 0;
    bottom: 0;
    z-index: 0;
    width: 100%;
    height: 0%;
    transition: all 0.6s;
    border-radius: 0.375em;
}
.footer .group-bottom{
    margin-top: 4.125em;
    display: flex;
    justify-content: space-between;
    color: #666;
}
.footer .util-list .util-item:hover .item-bg{
    height: 100%;
}
.footer .util-list .util-item:hover svg{
    transform: scale(0.9);
}